@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('../assets/font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-ring: var(--ring);
}

@theme {
  --font-sans: 'Inter', sans-serif;

  --animate-slide-down: slideDown 0.3s ease-in;
  --animate-slide-up: slideUp 0.3s ease-out;
  --animate-slide-right: slideRight 0.2s linear forwards;
  --animate-slide-left: slideLeft 0.2s linear forwards;

  --color-secondaryText: #82869e;

  @keyframes slideDown {
    0% {
      transform: translate(-50%, -80%);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateX(0) translateY(0);
    }
    100% {
      transform: translateX(0) translateY(-100%);
    }
  }
  @keyframes slideLeft {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  @keyframes slideRight {
    0% {
      width: 25%;
    }
    100% {
      width: 100%;
    }
  }
}

:root {
  --background: #fff;
  --foreground: oklch(.145 0 0);
  --card: #fff;
  --card-foreground: oklch(.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(.145 0 0);
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(.95 .0058 264.53);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #fff;
  --border: #0000001a;
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: oklch(.708 0 0);
  --radius: .625rem;
  --color-gray-50: oklch(98.5% .002 247.839)
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-secondary {
  @apply text-secondaryText;
}

#root {
    font-family: Inter;
    height: 100vh;
}

/* Login */
.login-background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6ac7db;
    height: 100%;
}

.login-background::before {
    content: "";
    position: absolute;
    background-image: url("../assets/login_background.png");
    background-size: 80% 80%;
    opacity: 9%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.login-form-box {
    display: flex;
    height: 80%;
    background-image: url("../assets/login_frame_background.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    aspect-ratio: 2/1;
    z-index: 1;
}

.login-form {
    margin: 10% 4%;
    width: 40%;
}

.login-form h1 {
    font-size: 36px;
    font-weight: 500;
}

.google-login {
    margin-top: 60px;
    margin-bottom: 30px;
}

.email-login {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}

.login-button-container {
    height: 100%;
    align-self: center;
}

@media (max-width: 768px) {
    .login-background::before {
        background-size: 180% 100%;
    }

    .login-form-box {
        background-image: none;
        background-color: white;
        aspect-ratio: auto;
    }

    .login-form-box {
        width: 100%;
    }

    .login-form {
        width: 100%;
    }

    .email-login {
        flex-direction: column;
    }
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    min-width: 328px;
    height: 89vh;
}

.sidebar-image {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 22px 0px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    background-color: #30B0C7;
    flex-grow: 1;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    padding-top: 48px;
    justify-content: space-between;
}

.sidebar-item,
.sidebar-logout {
    color: white !important;
    text-transform: none !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    font-weight: bold !important;
    width: 100%;
    padding: 1rem !important;
    justify-content: flex-start !important;
}

.sidebar-item {
    display: flex;
}

.sidebar-logout {
    margin-top: 20% !important;
    margin-bottom: 43% !important;
}

.sidebar-item:hover,
.sidebar-logout:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Mobile sidebar overrides */
.mobile-navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile-navbar .sidebar-image {
    display: none !important;
}

.mobile-navbar .sidebar-menu {
    border-radius: 0px;
}

.mobile-navbar .sidebar {
    width: 100%;
}

/* Alerts */
.alert-container {
    position: fixed;
    width: 100%;
    padding: 10px 10px;
    z-index: 1500;
    height: fit-content;
}

/* Main page */
.page-content {
    width: 65%;
    margin-top: 157px;
}

/* Dashboard */
.page-heading {
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 30px;
}

.dashboard-heading {
    color: #82869e;
    font-weight: 600;
}
