@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../assets/font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

#root {
  font-family: Inter;
  color: '#212427';
  height: 100vh;
}

.login-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6AC7DB;
  height:100%
}

.login-background::before {
  content:"";
  position: absolute;
  background-image: url("../assets/login_background.png");
  background-size: 100% 136%;
  opacity: 8%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.login-form-box {
  display: flex;
  height: 80%;
  background-image: url("../assets/login_frame_background.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: 2/1;
  z-index: 1;
}

.login-form {
  margin: 10% 4%;
  width: 40%;
  
}

.login-form h1{
  font-size: 36px;
  font-weight: 500;
}

.google-login {
  margin-top: 60px;
  margin-bottom: 30px;
}

.email-login {
  margin-top: 30px;
  margin-bottom: 30px;
}
